.result-wrapper {
    padding: 20px 10px;
    width: 90%;
}

.result-results {
    margin: 0px 30px;
}

.result-search-box {
    width: 100%;
}

.result-search-box .search-input {
    width: 95%;
    margin: 0px 10px;
}